---
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="mt-0">
		<h1 class="title mb-6">About</h1>
		<div class="prose prose-sm prose-cactus max-w-none">
			<p>
				Hi, I’m Jamie. I am a fourth year computer science and economics student at Northeastern University, originally from Ridgefield, CT. 
				I am passionate about software, human-centered computing, venture capital, and product management. 
			</p>

			<p>What I’m Doing Now:</p>
			<ul class="list-inside list-disc" role="list">
				<li>
					Product Manager Intern @ <a href="https://www.tesla.com" target="_blank" rel="noopener noreferrer">Tesla</a>
				</li>
				<li>
					Analyst Extern @ <a href="https://ignitexl.vc" target="_blank" rel="noopener noreferrer">IgniteXL Ventures</a>
				</li>
			</ul>

			<p>My Previous Work Experience Includes:</p>
			<ul class="list-inside list-disc" role="list">
				<li>Summer 2024: Product Manager Intern @ <a href="https://www.xbox.com/en-US/" target="_blank" rel="noopener noreferrer"> Microsoft Gaming </a></li>
				<li>Fall 2023: Security Operations Center Analyst Intern @ <a href="https://www.checkpoint.com" target="_blank" rel="noopener noreferrer">Check Point Software Technologies</a></li>
			</ul>

			<p>My On Campus Involvement Includes:</p>
			<ul class="list-inside list-disc" role="list">
				<li>2024-2025: Teaching Assistant for IS4300 Human Computer Interaction</li>
				<li>2023-2024: University Ambassador for <a href="https://rewritingthecode.org" target="_blank" rel="noopener noreferrer"> Rewriting The Code </a></li>
				<li>2023-2024: Founder + President of <a href="https://www.instagram.com/northeasternsews/" target="_blank" rel="noopener noreferrer"> Northeastern University Sewing Club </a></li>
				<li>2023-2024: Treasurer of <a href="https://nuwit.ccs.neu.edu" target="_blank" rel="noopener noreferrer"> Northeastern University Women in Technology </a></li>
				<li>2023-2024: AI/ML Fellow at <a href="https://www.breakthroughtech.org" target="_blank" rel="noopener noreferrer"> Break Through Tech MIT </a></li>
				<li>2022-2023: Research Assistant for Professor Bilge Erten's Research On PDMPs Effects on the Opioid Crisis</li>
				<li>2022-2023: Volunteer/Tutor at <a href="https://www.afhboston.orgg" target="_blank" rel="noopener noreferrer"> Artists For Humanity </a></li>
			</ul>
		</div>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-6 text-xl text-accent"><a href="/posts/">Blogs</a></h2>
		{/*
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		*/}
		<p>Coming soon!!</p>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl text-accent">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-4" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
