---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/jamie-pan/",
		name: "mdi:linkedin",
	},
	
	{
		friendlyName: "Github",
		link: "https://github.com/jpanct",
		name: "mdi:github",
	},
	{
		friendlyName: "x",
		link: "http://x.com/jam1epan",
		name: "mdi:twitter",
	},
	{
		friendlyName: "goodreads",
		link: "https://www.goodreads.com/user/show/131198381-jamie",
		name: "mdi:goodreads",
	},
	{
		friendlyName: "spotify",
		link: "https://open.spotify.com/user/1nin7u0tb3n75wu1uimtza4t3?si=7ca59780707b4c94&nd=1&dlsi=b0121d2f58754ecf",
		name: "mdi:spotify",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block sm:hover:text-link"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
